/Input
/resources/convert.out
/resources/stateToColor.h
/resources/blockstateidtoname.txt
/resources/blocknametocolor.txt
/cmake-build-*
/Test
CMakeCache.txt
/.idea
include
/src/lookup/stateToColor.h
include/stb_image_write.h
include/libzippp.h
include/cmake/get_cpm.cmake
include/CLIParser.hpp
/resources/CMakeFiles/
/resources/Bundler
/resources/cmake_install.cmake
/resources/Makefile
